/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body{
  font-family: Arial, sans-serif;
  background: #e8f5e9;
  color: white;
}

/* Header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
}

header h1{
  font-size: 30px;
}

nav a{
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover{
  color: lightgreen;
}

/* Hero Section */
.hero{
  height: 100vh;

  /* Background Image */
  background: url("nature.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Dark Overlay */
.hero::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.4);
}

.content{
  position: relative;
  z-index: 1;
}

.content h2{
  font-size: 60px;
  margin-bottom: 20px;
}

.content p{
  font-size: 22px;
  margin-bottom: 20px;
}

button{
  padding: 12px 25px;
  border: none;
  background: green;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background: darkgreen;
}

/* Cards */
.cards{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 80px 40px;
  background: #f1f8f4;
}

.card{
  background: white;
  color: black;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

/* Contact Section */
.contact{
  padding: 80px 20px;
  background: #dcedc8;
  text-align: center;
}

.contact h2{
  color: black;
  margin-bottom: 30px;
  font-size: 40px;
}

form{
  max-width: 600px;
  margin: auto;
}

input,
textarea{
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}
